/************ CSS COMMUN ************/

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fredoka:wght@300..700&display=swap');

/* @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css); */



fieldset,
label {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #001D3D;
    --beige: #FFFAE0;
    --corail: #EB7A57;
    --font-size-paragraph: 16px;
    --font-size-title: 2rem;
    --plyr-color-main: #EB7A57;
}

body {
    margin: 0;
    font-family: "Fredoka", sans-serif;
    background-color: var(--dark-blue);
}

section {
    margin-right: auto;
    margin-left: auto;
}

h2 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--beige);
    font-size: var(--font-size-title);
    margin: 40px 0px 20px 0px;
    letter-spacing: 2px;
}

#main-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1350px;
}




/************ VIDEO PLAYER BOX ************/
/*VIDEO CONTAINER*/
#principal-video h1 {
    font-family: "Bangers", system-ui;
    font-size: 60px;
    margin: 40px 0px 20px 0px;
    color: var(--beige);
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#principal-video {
    padding: 60px 0px 20px 0px;
    /* border: 1px solid green; */
}

/************ DESCRIPTION ************/
#description p {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-paragraph);
    color: var(--beige);
    line-height: 1.5rem;
}

#container-select-boxes-and-favorite-likes {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

select {
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-size: var(--font-size-paragraph);
    background-color: var(--dark-blue);
    color: var(--beige);
    border: 2px solid var(--beige);
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    /* ici j'ai enlevé l'apparence de base du chevron du coup 
    j'ai ajouté une image pour avoir un chevron qui me convenait */
    appearance: none;
    background-image: url('/assets/images-fiche-dessin-anime/chevron-beige.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 5px center;
    width: 140px;
    cursor: pointer;
}

select:hover,
select:focus {
    border-color: var(--corail);
    outline: none;
}

.select-container-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: fit-content;
    /*ajustement au niveau du contenu au lieu du conteneur*/
}

/* FAVORIS AND LIKE */
#container-favoris-and-like {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#container-favoris-and-like>button {
    font-size: 30px;
    color: var(--beige);
    background-color: var(--dark-blue);
    border: 1px solid var(--beige);
    border-radius: 4px;
    height: 35px;
    width: 140px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container-favoris-and-like>button:hover {
    border: 2px solid var(--corail);
}

/* #favorite-button,
#like-button {
    text-align: center;
    border: 1px solid var(--beige);
    border-radius: 4px;
    height: 35px;
    width: 140px;
    padding: 0px 10px 0px 10px;
} */
.fi-rr-heart,
.fi-tr-feedback-review,
.fi-sr-heart,
.fi-sr-feedback-review {
    font-size: 20px;
}

/************ COMMENTAIRES ************/
#commentaires p {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-paragraph);
    color: var(--beige);
    line-height: 1.5rem;
}

.fa-circle-user {
    font-size: 2rem;
    color: var(--beige);

}

.fa-chevron-down {
    font-size: var(--font-size-paragraph);
    color: var(--beige);
    cursor: pointer;
}

#container-show-more-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--beige);
    margin-top: 30px;
}

#show-more-comment {
    cursor: pointer;
}

#commentaires .user-comment-row {
    margin: 30px 0px 10px 0px;
}

.user-comment-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

/************ VOTRE AVIS ************/
#votre-avis p {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-paragraph);
    color: var(--beige)
}

#votre-avis .user-comment-row {
    margin: 20px 0px 20px 0px;
}

.container-textarea {
    text-align: center;
}

textarea {
    color: var(--beige);
    background-color: #001429;
    opacity: 0.75;
    width: 90%;
    height: 230px;
    resize: none;
    /*retire l'element qui permet d'agrandir la text area*/
    border: 2px solid transparent;
    /*bordure en transparent pour que lors du focus ca ne s'agrandisse pas*/
    outline: none;
    padding: 10px;
    font-family: 'Fredoka';
    font-weight: 400;
    font-size: var(--font-size-paragraph);
    line-height: 1.5;
    display: block;
    margin: auto;
}

textarea:hover {
    cursor: pointer;
}

textarea:focus {
    cursor: text;
    border-color: var(--corail);
    /*bordure ne s'agrandit pas */
}

button[type="submit"] {
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--font-size-paragraph);
    background-color: var(--dark-blue);
    color: var(--beige);
    text-decoration: none;
    border: 1.5px solid var(--beige);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    display: block;
    /*le btn est en display block comme ca je n'ai pas à créer de div pour le centrer*/
    margin: 20px auto 0px auto;
    cursor: pointer;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
    border-color: var(--corail);
    color: #EB7A57;
}

/************ NOS SUGGESTIONS ************/


/************ RESPONSIVE ************/
@media (max-width: 768px) {
    #main-content {
        max-width: 725px;
    }

    /* Police de l'écriture de la vidéo */
    #principal-video h1 {
        font-size: 40px;
    }

    /* SECTION VIDEO */
    video {
        width: 100%;
        height: auto;
        /*vidéo s'adaptera à la largeur de son conteneur */
    }

}

@media (max-width: 631px) {

    /*  */
    #container-select-boxes-and-favorite-likes {
        flex-direction: column-reverse;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 426px) {

    /* Police de l'écriture de la vidéo */
    #principal-video h1 {
        font-size: 16px;
    }

}

@media (max-width: 376px) {

    /* Police de l'écriture de la vidéo */
    #principal-video h1 {
        font-size: 16px;
    }

}

@media (max-width: 360px) {
    p {
        font-size: 10px;
    }

    /************ VIDEO PLAYER BOX ************/
    /* Police de l'écriture de la vidéo */
    #principal-video h1 {
        font-size: 16px;
    }

    /*VIDEO CONTAINER*/
    #principal-video {
        padding: 2rem;
        /* border: 1px solid green; */
    }

    /* DESCRIPTION */
    select {
        font-weight: 400;
        background-size: 15px;
        width: 140px;
    }

    .fa-heart,
    .fa-thumbs-up {
        font-size: 25px;
    }
}