/* ================== Footer ================== */
footer {
  min-height: 300px;
  background-color: var(--bg-alt);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  text-align: center;
}
footer img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}
#liste-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
}
#liste-footer p {
  margin: 0;
  padding: 10px;
  color: #FFFAE0;
  font-size: 16px;
  cursor: pointer;
}
#liste-footer p:hover {
  color: #EB7A57;
}
footer i {
  font-size: 30px;
  color: #FFFAE0;
  padding: 10px;
  cursor: pointer;
}
footer i:hover {
  color: #E28B70;
}
footer p {
  color: #FFFAE0;
  margin-top: 20px;
}
footer a {
  text-decoration: none;
}


@media (max-width: 768px) {
    /* Footer en colonne */
  #liste-footer {
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin: 1rem 0;
  }
  footer img {
    width: 4.5rem;
    height: 4.5rem;
  }
  footer i {
    font-size: 1.25rem;
  }
}