/* ================== Barre de recherche ================== */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
}
.search-box {
  transition: width .6s, border-radius .6s, background .6s, box-shadow .6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: text;
  background: transparent;
  color: transparent;
  padding-left: 40px;
  text-indent: -5000px;
}
.search-box:focus {
  outline: none;
  box-shadow: 0 0 0 2px #FFFAE0;
}
.search-box.active {
  width: 300px;
  border-radius: 20px;
  background: #EB7A57;
  color: #FFFAE0;
  text-indent: 0;
  padding-left: 40px;
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 54%;
  transform: translateY(-50%);
  cursor: pointer;
}
.search-icon i {
  color: #FFFAE0;
  font-size: 1.5rem;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}