/************************general*************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001D3D;
    min-height: 100vh;
    /* S'assure que le container prend toute la hauteur de la page */
    font-family: "Fredoka", system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;

}
a{
    text-decoration: none;
}
input {
    font-size: 18px;
}

/************************general*************************/

/**************titres********************/
.containertitrepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #001429, transparent);
    margin-top: 100px;
    margin-bottom: 20px;
    font-family: 'Bangers', cursive;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 3px;
    color: #FFFAE0;
}

h1 {
    margin: 0;
    text-align: center;
    color: #FFFAE0;
    font-family: 'Bangers', cursive;
    font-weight: 800;
    line-height: 1.1;
    font-size: 42px;
    letter-spacing: 3px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .25);
    align-self: center;
}

h2 {
    font-family: 'Bangers', cursive;
    color: #FFFAE0;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 2px;
}

.containertitrepage h2 a {
    color: #EB7A57;
    padding-left: 5px;
    text-decoration: none;
}

h3 {
    font-weight: 300;
    /* Définit une police plus fine */
    color: #FFFAE0;
    font-family: Fredoka;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
    width: 600px;
}

#switchToLogin:hover {
    color: #f3a289;
}

/************************titres*************************/

/****************************container formulaire*****************/
.container-formulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/************************input*************************/
.container-formulaire input,
.container-formulaire textarea {
    background-color: #001429;
    border: none;
    color: #FFFAFA;
    font-weight: normal;
    font-family: 'Fredoka', sans-serif;
    padding: 10px;
    width: 600px;
    margin-bottom: 20px;
    height: 40px;
}

.container-formulaire textarea {
    height: 250px;
    resize: none;
}

.container-formulaire input.inputserie {
    width: 30px;
}

/************************input*************************/

/************************astérisques*********************/
.container-asterisques {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.container-asterisques p {
    font-family: 'Fredoka', sans-serif;
    color: #FFFAFA;
    font-size: smaller;
    white-space: nowrap;
    padding-right: 15px;
    padding-top: 4px;
    margin-bottom: 15px;
}

/************************astérisques*********************/

/************************checkbox*************************/
.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container p {
    font-family: 'Fredoka', sans-serif;
    color: #FFFAFA;
    font-size: 15px;
    white-space: nowrap;
    padding-left: 5px;
}

.checkbox-container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1.5px solid #FFFAFA;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 20px;
}

.checkbox-container input[type="checkbox"]:checked {
    background-color: #FFFAFA;
}

.checkbox-container input[type="checkbox"]:hover {
    border-color: #EB7A57;
}

.reinitialisation p {
    font-family: 'Fredoka', sans-serif;
    color: #FFFAFA;
    font-size: 10px;
    padding-right: 500px;
    margin-bottom: 10px;
    cursor: pointer;

}
/************************checkbox*************************/

/************************boutton*************************/
#loginBtn,
#inscriptionBtn,
#contactBtn,
#resetBtn {
    height: 2.5rem;
    width: fit-content;
    padding: 0 1rem;
    margin-top: 10px;
    cursor: pointer;
    background-color: transparent;
    font-family: Fredoka;
    color: #FFFAE0;
    font-size: 18px;
    border: 1.5px solid #FFFAE0;
    border-radius: 3px;
    align-self: center;
}

#loginBtn:hover,
#inscriptionBtn:hover,
#contactBtn:hover,
#resetBtn:hover {
    border-color: #EB7A57;
    color: #EB7A57;
}

.buttonGestionVideo {
    display: flex;
    justify-content: center;
    gap: 60px;
}

/************************boutton*************************/

.fa-solid {
    color: #FFFAE0;
}

/************************boutton*************************/

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #FFFAFA;
    filter: invert(1);
    font-size: 18px;
    margin-right: 8px;
    cursor: pointer;
}


input[type="date"]::-moz-calendar-picker-indicator {
    filter: invert(1);
    font-size: 18px;
    margin-right: 8px;
    cursor: pointer;
}


#loginForm .input-with-eye,
#inscriptionForm .input-with-eye {
    position: relative;
}

/* Réserve la place à droite, que ce soit password OU text après toggle */
#loginForm .input-with-eye>input[type="password"],
#loginForm .input-with-eye>input[type="text"],
#inscriptionForm .input-with-eye>input[type="password"],
#inscriptionForm .input-with-eye>input[type="text"] {
    padding-right: 44px;

}

#loginForm .input-with-eye>input[type="password"],
#inscriptionForm .input-with-eye>input[type="password"] {
    font-size: 25px;
    letter-spacing: .2ch;
}

#loginForm .input-with-eye .icon-btn,
#inscriptionForm .input-with-eye .icon-btn {
    position: absolute;
    right: 8px;
    top: 35%;
    transform: translateY(-50%);
    width: 36px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
    color: #FFFAFA;
}

/* Icône UIcons (petit nudge si nécessaire) */
#loginForm .input-with-eye .icon-btn i,
#inscriptionForm .input-with-eye .icon-btn i {
    font-size: 18px;
    line-height: 1;
    display: block;
    transform: translateY(1px);
}

/* Focus visible */
#loginForm .input-with-eye .icon-btn:focus-visible,
#inscriptionForm .input-with-eye .icon-btn:focus-visible {
    outline: 2px solid #EB7A57;
    outline-offset: -2px;
    border-radius: 3px;
}

.container-formulaire #motDePasse {
    margin-bottom: inherit;
}

.password-container{
    margin-bottom: 20px;
}

.input-with-eye input.invalid { border-color: #e11d48; }
.input-with-eye input.valid   { border-color: #16a34a; }
.password-helper { font-size: .85rem; margin-top: .25rem; color: #64748b; }

.password-help {
  font-size: 0.85rem;
  color: #FFFAE0;
  margin-top: 4px;
}

.password-help span {
  font-weight: 600;
}



/*********************** media queries*******************/
/* responsive inscription/contact/connexions */
@media (max-width:768px) {

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    footer {
        padding: 1rem;
        text-align: center;
        height: fit-content;
    }

    #liste-footer {
        flex-direction: column;
    }

    /* On garde l’espace pour l’icône aussi en mobile */
    #loginForm .input-with-eye>input[type="password"],
    #inscriptionForm .input-with-eye>input[type="password"] {
        padding-right: 44px;
    }
}

/* à partir de 700px ou 650px il faut commencer à réduire le formulaire d'inscription */
@media (max-width:700px) {

    .container-formulaire input {
        height: 35px;
        width: 500px;
    }

    h3 {
        height: 35px;
        width: 500px;
    }

    .container-formulaire textarea {
        width: 500px;
    }
}

@media (max-width:631px) {

    .container-formulaire input,
    .connexion input {
        height: 30px;
        width: 400px;
    }

    h1 {
        font-size: 2.1rem;
    }

    h2 {
        font-size: 1.20rem;
    }

    h3 {
        height: 30px;
        width: 400px;
    }

    .container-formulaire textarea {
        width: 400px;
    }
}

@media (max-width:480px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
        text-align: center;
    }

}

@media (max-width:426px) {
    .container-formulaire input {
        width: 300px;
    }

    h3 {
        height: 25px;
        width: 300px;
    }

    .container-formulaire textarea {
        width: 300px;
    }
}