/************************ general *************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001D3D;
    min-height: 100vh;
    font-family: "Fredoka", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif;
}

a {
    text-decoration: none;
}

input {
    font-size: 18px;
}
/************************ general *************************/


/************** titres ********************/
.containertitrepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #001429, transparent);
    margin-top: 100px;
    margin-bottom: 20px;
    font-family: "Bangers", cursive;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 3px;
    color: #FFFAE0;
}

h1 {
    margin: 0;
    text-align: center;
    color: #FFFAE0;
    font-family: "Bangers", cursive;
    font-weight: 800;
    line-height: 1.1;
    font-size: 42px;
    letter-spacing: 3px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .25);
    align-self: center;
}

h2 {
    font-family: "Bangers", cursive;
    color: #FFFAE0;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 2px;
}

.containertitrepage h2 a {
    color: #EB7A57;
    padding-left: 5px;
    text-decoration: none;
}

h3 {
    font-weight: 300;
    color: #FFFAE0;
    font-family: Fredoka;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
    width: 600px;
}

#switchToLogin:hover {
    color: #f3a289;
}
/************************ titres *************************/


/************************ container formulaire *****************/
.container-formulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/************************ container formulaire *****************/


/************************ input *************************/
.container-formulaire input,
.container-formulaire textarea {
    background-color: #001429;
    border: none;
    color: #FFFAFA;
    font-weight: normal;
    font-family: "Fredoka", sans-serif;
    padding: 10px;
    width: 600px;
    margin-bottom: 20px;
    height: 40px;
}

.container-formulaire textarea {
    height: 250px;
    resize: none;
}

.container-formulaire input.inputserie {
    width: 30px;
}
/************************ input *************************/


/************************ astérisques *********************/
.container-asterisques {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.container-asterisques p {
    font-family: "Fredoka", sans-serif;
    color: #FFFAFA;
    font-size: smaller;
    white-space: nowrap;
    padding-right: 15px;
    padding-top: 4px;
    margin-bottom: 15px;
}
/************************ astérisques *********************/


/************************ checkbox *************************/
.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container p {
    font-family: "Fredoka", sans-serif;
    color: #FFFAFA;
    font-size: 15px;
    white-space: nowrap;
    padding-left: 5px;
}

.checkbox-container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1.5px solid #FFFAFA;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 20px;
}

.checkbox-container input[type="checkbox"]:checked {
    background-color: #FFFAFA;
}

.checkbox-container input[type="checkbox"]:hover {
    border-color: #EB7A57;
}

.reinitialisation p {
    font-family: "Fredoka", sans-serif;
    color: #FFFAFA;
    font-size: 10px;
    padding-right: 500px;
    margin-bottom: 10px;
    cursor: pointer;
}
/************************ checkbox *************************/


/************************ boutons *************************/
#loginBtn,
#inscriptionBtn,
#contactBtn,
#resetBtn {
    height: 2.5rem;
    width: fit-content;
    padding: 0 1rem;
    margin-top: 10px;
    cursor: pointer;
    background-color: transparent;
    font-family: Fredoka;
    color: #FFFAE0;
    font-size: 18px;
    border: 1.5px solid #FFFAE0;
    border-radius: 3px;
    align-self: center;
}

#loginBtn:hover,
#inscriptionBtn:hover,
#contactBtn:hover,
#resetBtn:hover {
    border-color: #EB7A57;
    color: #EB7A57;
}

.buttonGestionVideo {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.fa-solid {
    color: #FFFAE0;
}
/************************ boutons *************************/


/************************ date picker *************************/
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #FFFAFA;
    filter: invert(1);
    font-size: 18px;
    margin-right: 8px;
    cursor: pointer;
}

input[type="date"]::-moz-calendar-picker-indicator {
    filter: invert(1);
    font-size: 18px;
    margin-right: 8px;
    cursor: pointer;
}
/************************ date picker *************************/


/************************ input-with-eye (login + inscription) *************************/
#loginForm .input-with-eye,
#inscriptionForm .input-with-eye {
    position: relative;
}

/* réserve la place pour l’icône */
#loginForm .input-with-eye > input[type="password"],
#loginForm .input-with-eye > input[type="text"],
#inscriptionForm .input-with-eye > input[type="password"],
#inscriptionForm .input-with-eye > input[type="text"] {
    padding-right: 44px;
}

#loginForm .input-with-eye > input[type="password"],
#inscriptionForm .input-with-eye > input[type="password"] {
    font-size: 25px;
    letter-spacing: .2ch;
}

#loginForm .input-with-eye .icon-btn,
#inscriptionForm .input-with-eye .icon-btn {
    position: absolute;
    right: 8px;
    top: 35%;
    transform: translateY(-50%);
    width: 36px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
    color: #FFFAFA;
}

#loginForm .input-with-eye .icon-btn i,
#inscriptionForm .input-with-eye .icon-btn i {
    font-size: 18px;
    line-height: 1;
    display: block;
    transform: translateY(1px);
}

#loginForm .input-with-eye .icon-btn:focus-visible,
#inscriptionForm .input-with-eye .icon-btn:focus-visible {
    outline: 2px solid #EB7A57;
    outline-offset: -2px;
    border-radius: 3px;
}
/************************ input-with-eye *************************/


/************************ bloc mot de passe (alignement input + aide) *************************/
.container-formulaire #motDePasse {
    margin-bottom: inherit;
}

.password-container {
    width: 600px;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.password-container .input-with-eye {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.password-container .input-with-eye > input {
    width: 100%;
}

.password-container .input-with-eye .icon-btn {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.password-help {
    width: 600px;
    margin: 4px auto 0;
    text-align: left;
    font-size: 0.85rem;
    color: #FFFAE0;
}

.password-help span {
    font-weight: 600;
}
/************************ bloc mot de passe *************************/


/*********************** media queries *******************/
@media (max-width: 768px) {
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    footer {
        padding: 1rem;
        text-align: center;
        height: fit-content;
    }

    #liste-footer {
        flex-direction: column;
    }

    /* on garde l’espace pour l’icône en mobile */
    #loginForm .input-with-eye > input[type="password"],
    #inscriptionForm .input-with-eye > input[type="password"] {
        padding-right: 44px;
    }
}

/* ≈700px : réduire la largeur des champs */
@media (max-width: 700px) {
    .container-formulaire input {
        height: 35px;
        width: 500px;
    }

    .container-formulaire textarea {
        width: 500px;
    }

    .password-container,
    .password-help {
        width: 500px;
    }

    h3 {
        height: 35px;
        width: 500px;
    }
}

@media (max-width: 631px) {
    .container-formulaire input,
    .connexion input {
        height: 30px;
        width: 400px;
    }

    .container-formulaire textarea {
        width: 400px;
    }

    .password-container,
    .password-help {
        width: 400px;
    }

    h1 {
        font-size: 2.1rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        height: 30px;
        width: 400px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
        text-align: center;
    }
}

@media (max-width: 426px) {
    .container-formulaire input {
        width: 300px;
    }

    .container-formulaire textarea {
        width: 300px;
    }

    .password-container,
    .password-help {
        width: 300px;
    }

    h3 {
        height: 25px;
        width: 300px;
    }
}
